<style>
.cool{
	padding: 20px;
	margin: 20px;
}
</style>
<div class="cool">
<br>
<center><p><h2>Навчальні дисципліни які забезпечуються кафедрою міжнародного права:</h2></p></center>
    <h4>1. Вступ до спеціальності «Міжнародне право»
    <br>2. Історія міжнародного права
    <br>3. Правничі системи сучасності
    <br>4. Відповідальність у міжнародному праві
    <br>5. Міжнародне право
    <br>6. Міжнародне приватне право
    <br>7. Міжнародне публічне право (основи теорії)
    <br>8. Міжнародне публічне право (основні галузі та інститути)
    <br>9. Міжнародне гуманітарне право
    <br>10. Право міжнародних організацій
    <br>11. Порівняльне цивільне право
    <br>12. Права людини у міжнародному праві
    <br>13. Право Європейського Союзу
    <br>14. Право зовнішніх зносин
    <br>15. Право зовнішніх зносин Євросоюзу
    <br>16. Правове регулювання відносин України з ЄС
    <br>17. Правові аспекти діяльності Ради Європи
    <br>18. Судові системи та порівняльне судове право
    <br>19. Теорія та практика трансформацій сучасного міжнародного права
    <br>20. Міжнародно-правовий механізм захисту біженців у міжнародному праві
    <br>21. Методологія та організація наукових досліджень з теорії та практики міжнародного права
    <br>22. Доктрина та практика генези міжнародного права та свободи думки, совісті і релігії
    <br>23. Загальна історія держави і права зарубіжних країн
    <br>24. Міжнародне інформаційне право
    <br>25. Міжнародно-правові механізми захисту прав людини
    <br>26. Основи дипломатії
    <br>27. Порівняльне конституційне право
    <br>28. Права людини у Євросоюзі
    <br>29. Право Євросоюзу у сфері юстиції та внутрішніх справ
    <br>30. Право світової організації торгівлі
    <br>31. Універсальні та регіональні системи захисту прав людини
    <br>32. Загальна історія держави і права
    <br>33. Державне конфесійне право</h4>
</div>